/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Estilos para todo el proyecto */

/* PALETA DE COLORES */

:root {
    --bg-color: #ffffff;
    --second-bg-color: #f5f6fc;
    --text-color: #ffffff;
    --second-text-color: #2b326b;
    --skin-color: #004aad;
}

/* FIN PALETA DE COLORES */

/* Video */

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
  
.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.2;
    mix-blend-mode: overlay;
    z-index: -1;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #008392;
}

.contenedor-centrado {
    display: flex;
    width: 100%;
    justify-content: center;
}

p {
    font-family: "Poppins", sans-serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--second-text-color);
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--second-text-color);
    margin: 0.5rem; 
}

.titulo h2 {
    font-size: 2.5rem;
    margin: 4rem 0 2rem 0;

}

h3 {
    font-size: 1.6rem;
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--second-text-color);
    color: var(--text-color);
    margin: 0.5rem 0 0.3rem 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: var(--text-color);
}

form {
    font-size: 1.1rem;
    max-width: 400px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1rem);
    text-shadow: var(--bg-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.8);
    border-right: 0.1rem solid rgba(0, 0, 0, 0.8);
    color: var(--text-color);
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    /*background-color: white;
    border: 1px solid lightslategray;*/
    border-radius: 5px;
    
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    padding: 11.5px;
    margin: 6px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}

button:hover {
    background-color: #0056b3;
}

a {
    padding: 10px;
    margin: 6px;
    background-color: var(--skin-color);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.contenedor-centrado a {
    padding: 13px;
    margin: 8px;
    font-size: 1.3rem;

}

a:hover {
    background-color: var(--second-text-color);
}


/* Logo */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 600;
}

th {
    text-align: center;
    padding: 1rem;
    color: var(--text-color);
    text-shadow: 0.1rem 0.1rem 0.1rem var(--second-text-color);
}

.listado tbody {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1rem);
    text-shadow: var(--bg-color);
    padding: 2rem;
    color: var(--text-color);
}

.listado td {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    color: var(--text-color);
}

.listado th {
    font-size: 1.6rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
    color: var(--text-color);
}




