<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Excursiones</title>
    <link rel="stylesheet" href="estilos.css">
</head>

<body>

    <!-- Video Fondo de pantalla -->
    <video muted autoplay loop>
        <source src="imagenes/Inicio.mp4" type="video/mp4">
    </video>

    <div class="capa"></div>

    <h2>Modificar Excursiones</h2>

    <!-- Contenedor principal que será controlado por Vue.js. Este contenedor tendrá dos formularios. -->
    <div id="app">
        <!-- Primer formulario: Selector de producto. LLama a la función obtenerProducto cuando se envíe el formulario -->
        <form @submit.prevent="obtenerProducto">
            <label for="num_excursion">N° Excursión:</label>
            <input type="text" v-model="num_excursion" required><br>
            <button type="submit">Modificar Excursión</button> <a href="listadoEliminar.html">Mis Excursiones</a>
        </form>

        <!-- Segundo formulario: se muestra solo si mostrarDatosProducto es verdadero. Llama a la función guardarCambios -->
        <div v-if="mostrarDatosProducto">
            <h3>Datos de la Excursión</h3>
            <form @submit.prevent="guardarCambios">
                <label for="descripcionModificar">Nombre Excursión:</label>
                <input type="text" id="descripcionModificar" v-model="nombre_excursion" required><br>

                <label for="cantidadModificar">Cantidad de personas:</label>
                <input type="number" id="cantidadModificar" v-model="cantidad_personas" required><br>

                <label for="precioModificar">Precio:</label>
                <input type="number" step="0.01" id="precioModificar" v-model="precio" required><br>

                <!-- Imagen actual del producto -->
                <!-- <img v-if="imagen_url && !imagenSeleccionada" :src="'./static/imagenes/' + imagen_url"
                    alt="Imagen del producto" style="max-width: 200px;"> -->
                
                <!-- Al subir al servidor, deberá utilizarse la siguiente ruta. USUARIO debe ser reemplazado por el nombre de usuario de Pythonanywhere -->
                <img v-if="imagen_url && !imagenSeleccionada" :src="'https://www.pythonanywhere.com/user/pablominardi/files/home/pablominardi/mysite/static/imagenes/' + imagen_url"
                    alt="Imagen del producto" style="max-width: 200px;">
                             

                <!-- Vista previa de la nueva imagen seleccionada -->
                <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="Vista previa de la nueva imagen"
                    style="max-width: 200px;">

                <!-- Input para nueva imagen -->
                <label for="nuevaImagen">Nueva Imagen:</label>
                <input type="file" id="nuevaImagen" @change="seleccionarImagen"><br>

                <br>
                <label for="proveModificar">N° Agencia de viajes:</label>
                <input type="number" id="proveModificar" v-model="num_agencia" required><br>

                <button type="submit">Guardar Cambios</button>
                <a href="modificaciones.html">Cancelar</a>
            </form>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        //const URL = "http://127.0.0.1:5000/"

        //Al subir al servidor, deberá utilizarse la siguiente ruta. USUARIO debe ser reemplazado por el nombre de usuario de Pythonanywhere
        const URL = "https://pablominardi.pythonanywhere.com/"
        

        //Vue.createApp para crear nuestra aplicación Vue.
        const app = Vue.createApp({
            
            //La función data devuelve un objeto que contiene las siguientes propiedades: 
            data() {
                return {
                    num_excursion: '',
                    nombre_excursion: '',
                    cantidad_personas: '',
                    precio: '',
                    num_agencia: '',
                    imagen_url: '',
                    imagenSeleccionada: null,
                    imagenUrlTemp: null,
                    mostrarDatosProducto: false, //mostrarDatosProducto para controlar la visibilidad del formulario de modificación.
                };
            },

            methods: {
                //Se ejecuta cuando se envía el formulario de consulta. En este método, utilizamos fetch para realizar una solicitud GET a la API y obtener los datos del producto correspondiente al código ingresado.
                obtenerProducto() {
                    fetch(URL + 'productos/' + this.num_excursion)
                    //Realiza una solicitud de red al servidor para obtener los datos del producto. Usa la URL definida anteriormente y añade 'productos/' seguido del código del producto.
                        
                        //Verificamos si la respuesta de la solicitud es exitosa (código de respuesta 200-299). 
                        .then(response =>  {
                            //Si es así, utilizamos response.json() para parsear la respuesta en formato JSON.
                            if (response.ok) {
                                return response.json() //Una vez que la respuesta llega del servidor, se convierte de formato JSON a un objeto JavaScript.
                            } else {
                                //Si la respuesta es un error, lanzamos una excepción para ser "catcheada" más adelante en el catch.
                                throw new Error('Error al obtener los datos del producto.')
                            }
                        })

                        //En este bloque, se asignan los datos obtenidos a las variables correspondientes de la aplicación Vue.
                        .then(data => {
                            this.nombre_excursion = data.nombre_excursion;
                            this.cantidad_personas = data.cantidad_personas;
                            this.precio = data.precio;
                            this.num_agencia = data.num_agencia;
                            this.imagen_url =  data.imagen_url;
                            this.mostrarDatosProducto = true;
                        })

                        //Si ocurre un error durante la solicitud, se captura y se imprime en la consola.
                        .catch(error => {
                            alert('Código no encontrado.')
                        })
                },

                //Se activa cuando el usuario selecciona una imagen para cargar.
                seleccionarImagen(event) {
                    const file = event.target.files[0];
                    this.imagenSeleccionada = file;
                    this.imagenUrlTemp = URL.createObjectURL(file); // Crea una URL temporal para la vista previa
                },

                //Se usa para enviar los datos modificados del producto al servidor.
                guardarCambios() {
                    const formData = new FormData();
                    formData.append('num_excursion', this.num_excursion);
                    formData.append('nombre_excursion', this.nombre_excursion);
                    formData.append('cantidad_personas', this.cantidad_personas);
                    formData.append('num_agencia', this.num_agencia);
                    formData.append('precio', this.precio);

                    //Si se ha seleccionado una imagen nueva, la añade al formData. 
                    if (this.imagenSeleccionada) {
                        formData.append('imagen', this.imagenSeleccionada, this.imagenSeleccionada.name);
                    }

                    //Utilizamos fetch para realizar una solicitud PUT a la API y guardar los cambios.
                    fetch(URL + 'productos/' + this.num_excursion, {
                        method: 'PUT',
                        body: formData, //Dado que formData puede contener archivos, no se utiliza JSON.
                    })
                        .then(response => {
                            //Si la respuesta es exitosa, utilizamos response.json() para parsear la respuesta en formato JSON.
                            if (response.ok) {
                                return response.json()
                            } else {
                                //Si la respuesta es un error, lanzamos una excepción.
                                throw new Error('Error al guardar los cambios del producto.')
                            }
                        })

                        //Respuesta OK, muestra una alerta informando que el producto se agregó correctamente y limpia los campos del formulario para que puedan ser utilizados para un nuevo producto.
                        .then(data => {
                            alert('Producto actualizado correctamente.');
                            this.limpiarFormulario();
                        })

                        // En caso de error, mostramos una alerta con un mensaje de error.
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Error al actualizar el producto.');
                        });
                },

                //Restablece todas las variables relacionadas con el formulario a sus valores iniciales, lo que efectivamente "limpia" el formulario.
                limpiarFormulario() {
                    this.num_excursion = '';
                    this.nombre_excursion = '';
                    this.cantidad_personas = '';
                    this.precio = '';
                    this.imagen_url = '';
                    this.imagenSeleccionada = null;
                    this.imagenUrlTemp = null;
                    this.mostrarDatosProducto = false;
                }
            }
        });

        //Cuando se llama a app.mount('#app'), Vue busca en el documento HTML un elemento con el id app. Vue entonces toma el control de este elemento y de todo su contenido. Esto significa que Vue puede reaccionar a los cambios en sus datos y actualizar automáticamente el HTML en este elemento. También maneja eventos, como clicks o entradas de formulario, y actualiza los datos según las interacciones del usuario.

        app.mount('#app');
    </script>

</body>
</html>